#root {
  /* max-width: 1280px; */
  margin: 0 auto;
}

label{
  &.required{
      &:after{
          content: '*';
          color: #dc3545;
          margin-left: 2px;
      }
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.bg-color-primary{
  background-color: #00D8FF!important;
}

.btn-primary{
  background-color: #00D8FF!important;
  border: 1px solid #00D8FF!important;
}

.btn-outline-primary{
  color: #00D8FF!important;
  border: 1px solid #00D8FF!important;
}

.btn-outline-primary:hover{
  color: #FFFFFF!important;
  background-color: #00D8FF!important;
  border: 1px solid #00D8FF!important;
}

.dropdown-item.active, .dropdown-item:active {
  color: #FFFFFF!important;
  text-decoration: none!important;
  background-color: #00D8FF!important;
}

.nav-link {
  transition: all 0.3s ease; /* smooth transition for all changes */
}

.nav-link.active {
  color: #00D8FF!important;
  font-weight: bolder!important;
  font-size: 18px!important;
  line-height: 24px!important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #FFFFFF!important;
  background-color: #00D8FF!important;
}

.active-link {
  color: #00D8FF!important;
  font-weight: bolder!important;
  font-size: 18px!important;
  line-height: 24px!important;
}

.form-check-input:checked {
  background-color: #00D8FF!important;
  border-color: #00D8FF!important;
}

.text-color-primary{
  color: #00D8FF !important;
}

.accordion-button:not(.collapsed) {
  color: #000000!important;
  background-color: #00d9ff3d!important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05) !important;
}

.form-switch .form-check-input {
  transform: scale(1.5);
  margin-top: 0.5rem;
  margin-left: -1.5rem;
}

.form-switch .form-check-label {
  padding-left: 2.5rem;
}

.product-image-thumbnail{
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.product-image-thumbnail.active{
  border: 2px solid #00D8FF !important;
  height: 65px !important;
  width: 65px !important;
  box-shadow: 0 0 10px 0 #00D8FF !important;
  transform: scale(1.1);
}

.product-card img {
  transition: transform 0.3s ease!important;
}

.product-card:hover img {
  transform: scale(1.05)!important;
}

.product-card:hover {
  transform: translateY(-4px)!important;
  transition: 0.3s ease!important;
}

.form-range::-webkit-slider-thumb {
  background: #00D8FF!important;
}

.form-range::-moz-range-progress {
  background: #00D8FF!important;
}

.form-range::-moz-range-thumb {
  background: #00D8FF!important;
}

.image-magnifier-container {
  position: relative;
  overflow: hidden;
}

.lens {
  position: absolute;
  border: 2px solid #000;
  width: 100px;
  height: 100px;
  display: none;
  background-repeat: no-repeat;
  pointer-events: none;
  border-radius: 50%; /* optional: makes it circular like Amazon */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: crosshair;
}


